* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0891b2;
    --project-1-color: #9e1c1c;
    --project-2-color: #7c75ca;
    --project-3-color: #5e8f4d;
    --project-4-color: #c363b4;
    --project-5-color: #d88f39;
    --project-6-color: #4ba2d2;
    --primary-shadow: rgba(149, 157, 165, 0.4) 0px 6px 10px 4px;
}

body {
    line-height: 1.4;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

section:not(:first-child) {
    margin-top: 3rem;
}

.container {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 2rem;
    
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

svg {
    height: 1.5rem;
}


.about .container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .background {
    background-color: #0099b3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;

    /* calc is used to keep the angle constant in different screen sizes */
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 100vw * 0.25), 0% 100%);
  }

.about .text {
    background-color: white;
    padding: 2rem;
    box-shadow: var(--primary-shadow);
    flex: 1;
}

.about .text h2 {
    margin-block: 1rem;
}

.about .text p {
    margin-block: 1rem;
}

.about .text .socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.about .image {
    position: relative;
    max-width: 350px;
    flex-grow: 1;
    flex-basis: 100px; 
    margin-right: -1rem;
}

.about .image .title {
    position: absolute;
    font-size: 2rem;
    width: 100%;
    bottom: 1rem;
    color: white;
    text-align: center;
}


.work h2 {
    margin-bottom: 1rem;
}

.work .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.work .card {
    box-shadow: var(--primary-shadow);
}

.work .card .screenshot {

    background-color: var(--primary-color);
}

.work .screenshot h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
}

.work .card .text {
    padding: 1.5rem;
    padding-bottom: 3rem;
}

.work .card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

.work .card svg {
    height: 1.3rem;
    vertical-align: bottom;
}

.work .card svg:not(:first-child) {
    margin-left: 0.5rem;
}

.work .card .project-name {
    font-size: 1.4rem;
}

.work .card:nth-child(1) .screenshot {
    background-color: var(--project-1-color);
}

.work .card:nth-child(2) .screenshot {
    background-color: var(--project-2-color); 
}

.work .card:nth-child(3) .screenshot {
    background-color: var(--project-3-color);
}

.work .card:nth-child(4) .screenshot {
    background-color: var(--project-4-color);
}

.work .card:nth-child(5) .screenshot {
    background-color: var(--project-5-color);
}

.work .card:nth-child(6) .screenshot {
    background-color: var(--project-6-color);
}


.contact {
    background-color: var(--primary-color);
    color: white;
}

.contact .container {
    padding-block: 3rem;
    min-height: initial;
    display: flex;
    gap: 2rem;
}

.contact .container > * {
    flex: 1;
}

.contact .image{
    max-width: 350px;
}

.contact .text > *:not(:last-child) {
    margin-bottom: 2rem;
}

.contact .phone,
.contact .email {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact .phone svg,
.contact .email svg {
    fill: white;
}

.contact .info > *:not(:last-child) {
    margin-bottom: 1rem;
}

.contact .socials {
    display: flex;
    gap: 1rem;
}

.contact .socials svg {
    height: 2rem;
}